CONFIG_LOCALVERSION="-Rebase-P"
CONFIG_MODULE_FORCE_LOAD=y
# CONFIG_MODULE_SIG is not set
CONFIG_REGMAP_ALLOW_WRITE_DEBUGFS=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_XPAD=y
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v21 is not set
CONFIG_TOUCHPANEL_OPPO=y
CONFIG_TOUCHPANEL_MULTI_NOFLASH=y
CONFIG_TOUCHPANEL_NOVA=y
CONFIG_TOUCHPANEL_HIMAX=y
CONFIG_TOUCHPANEL_NOVA_NT36672_NOFLASH=y
CONFIG_TOUCHPANEL_HIMAX_HX83112A_NOFLASH=y
CONFIG_OPPO_FINGERPRINT=y
CONFIG_OPPO_FINGERPRINT_QCOM=y
CONFIG_SERIAL_MSM=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_OPPO_MSM8998P_CHARGER=y
CONFIG_OPPO_RTC_DET_SUPPORT=y
CONFIG_OPPO_CHECK_CHARGERID_VOLT=y
CONFIG_OPPO_SHIP_MODE_SUPPORT=y
# CONFIG_SMB1351_USB_CHARGER is not set
# CONFIG_SMB138X_CHARGER is not set
# CONFIG_QPNP_QNOVO is not set
CONFIG_HID_BETOP_FF=y
CONFIG_HID_SONY=y
# CONFIG_USB_PD_POLICY is not set
# CONFIG_QPNP_USB_PDPHY is not set
# CONFIG_IOMMU_DEBUG is not set 
# CONFIG_IOMMU_TESTS is not set
CONFIG_OPPO_COMMON_SOFT=y
CONFIG_OPPO_DEVICE_IFNO=y
CONFIG_EXT4_ASYNC_DISCARD_SUPPORT=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_ENCRYPTION=y
CONFIG_NLS_UTF8=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_CRYPTO_SHA512=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_INET_LRO=y
CONFIG_PRODUCT_REALME_RMX1801=y
