CONFIG_PGTABLE_MAPPING=y
CONFIG_NFC_NQ=n
CONFIG_REGMAP_ALLOW_WRITE_DEBUGFS=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_JOYSTICK_XPAD=y
CONFIG_TOUCHPANEL_OPPO=y
CONFIG_TOUCHPANEL_MULTI_NOFLASH=y
CONFIG_TOUCHPANEL_NOVA=y
CONFIG_TOUCHPANEL_HIMAX=y
CONFIG_TOUCHPANEL_NOVA_NT36672_NOFLASH=y
CONFIG_TOUCHPANEL_HIMAX_HX83112A_NOFLASH=y
CONFIG_OPPO_FINGERPRINT=y
CONFIG_OPPO_FINGERPRINT_QCOM=y
CONFIG_SERIAL_MSM=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_OPPO_MSM8998P_CHARGER=y
CONFIG_OPPO_RTC_DET_SUPPORT=y
CONFIG_OPPO_CHECK_CHARGERID_VOLT=y
CONFIG_OPPO_SHIP_MODE_SUPPORT=y
CONFIG_SMB1351_USB_CHARGER=n
CONFIG_SMB138X_CHARGER=n
CONFIG_HID_BETOP_FF=y
CONFIG_USB=n
CONFIG_USB_PD_POLICY=n
CONFIG_QPNP_USB_PDPHY=n
CONFIG_OPPO_COMMON_SOFT=y
CONFIG_OPPO_DEVICE_IFNO=y
CONFIG_RECORD_MDMRST=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_ENCRYPTION=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_DEFAULT_HUNG_TASK_TIMEOUT=60
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_ZSTD=y
